#################
## FAUST
#################

*.tmp.dsp
*.svg
*.cpp

#################
## PURE DATA
#################

*.dll
*.pd_darwin
*.pd_linux

#################
## MAX
#################

*.mxe
*.mxo

